div.upcomingAll 
{
    text-align: center;
}

div.upcomingAll table 
{
	width: 600px;
    margin: auto; 
    text-align: center;
}

div.movieDesc
{
	margin: auto;
}
div.movieDesc table 
{ 
	width: 600px;
	margin: auto; 
	text-align: left;
}


div.horizontalMovies
{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
	height:260px;
	overflow-x:scroll	
}

div.horizontalMovies table
{
	text-align: center;
	overflow-x:scroll
}




